.topbar{
    height: 30px;
    background: brown;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topbar span{
    color: #fff;
    font-size: 13px;
}

@media (max-width:380px){
    .topbar{
        width: 100vw;
    }

}