.navbar{
    overflow: hidden;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 111;
    box-shadow: 1px 2px 11px 9px rgba(0, 0, 0, 0.048);
}
.wrapper{
    margin: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftbar{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
}
.leftbarWrapper1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.leftbarLangue{
    color: grey;
    font-weight: 300;
}
.leftbar-pays{
    width: 30px;
    height: 20px;
}
.leftbarWrapper{
    position: relative;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    height: 30px;
    overflow: hidden;
}
.navbarInput{
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 10px;
    outline: none;
}
.centerbar{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.centerh1{
    font-size: 1.5rem;
}
.search{
    height: 100%;
    width: 100%;
    padding: 5px 10px 5px 10px;
    background: rgb(238, 235, 235);
    cursor: pointer;
}
.rightbar{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    width: 100%;
}
.menuItem{
    position: relative;
}
.menuItemSpan{
    position: absolute;
    top: -10px;
    right: -10px;
    background: rgb(17, 17, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    font-size: .8rem;
}

@media screen and (max-width:414px) {
    .leftbarLangue,.leftbar-pays{
        display: none;
        margin: 0;
    }
    .leftbar{
        width: 30%;
        gap: 0;
    }
    .navbarInput{
        width: 100%;
    }
    .leftbarLangue{
        color: grey;
        font-size: 1rem;
    }
    .leftbar-pays{
        width: 25px;
        height: 20px;
    }
    .leftbarWrapper{
        justify-content: flex-start;
        border-radius:5px;
        height: 30px;
        overflow: hidden;
    }
    .search{
        height: 100%;
        width: 20%;
        padding: 5px;
        background: rgb(238, 235, 235);
        cursor: pointer;
    }
    .centerbar{
        
    }
    .centerh1{
        font-size: 1.2rem;
    }
    .rightbar{
        flex: 0;
    }
    .menuLink{
        display: none;
    }
}