@font-face {
    font-family: 'Roboto';
    src: url('./assets/Poppins-Regular.ttf');
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}